.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(10, 10, 10);
  overflow: hidden;
  width: 75%;
  height: 0;
  transition: .5s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contoh{
color: blue;
}

body{
    background-color: white;
}

.section{
  width: 50%;
  margin-top: 100%;
}

