.aduan{
  margin-top: 3%;
}

.card-deck{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.container{
  background-color: aliceblue;
  
}
  

.container-fluid{
  font-size: 250%;
  color: aliceblue;
  background-color: darkcyan;
}


.image {
  display: block;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(10, 10, 10);
  overflow: hidden;
  width: 75%;
  height: 0;
  transition: .5s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

